

<div style="background-image: url('https://png.pngtree.com/background/20230519/original/pngtree-an-old-coffee-shop-with-very-dark-walls-picture-image_2652909.jpg'); background-size: cover; background-position: center; width: 100%; height: 100vh;">
{% extends 'orders/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  <h2 style="color: rgb(31, 26, 26); text-align: center; background-color: rgb(231, 237, 241);">Welcome to the Coffee Shop!</h2>
</div>



{% endblock content %}
